<h3>Drum Circle</h3>
<img src="/images/drum_circle.png" alt="drum circle"/>
<h3>Samba</h3>
<img src="/images/samba.png" alt="samba"/>
<h3>Comments</h3>
<p>
	<em>"Many thanks for the wonderful drumming session; the young people had a great time and loved the noise and excitement."</em>
	<span class="name">Margo, Family Support Manager, Barnardos.</span>
</p>
<p>
	<em>"Thanks for coming to our school; I really liked it. When I got home I got a tub and played it; my mom said: 'Be quiet!'"</em>
	<span class="name">Jessica, age 6</span>
</p>
<p>
	<em>"That African drumming was amazing! It was fantastic, I loved it. I can't wait till next time."</em>
	<span class="name">Blair, age 10</span>
</p>