<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-gb">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Infectious Grooves - {{ page.title }}</title>
	<meta name="author" content="Daniel Duggan" />
	<link rel="stylesheet" href="/css/screen.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/css/tablet.css" type="text/css" media="screen and (min-width:651px) and (max-width: 1024px), screen and (min-device-width: 768px) and (max-device-width: 1024px)" />
	<link rel="stylesheet" href="/css/mobile.css" type="text/css" media="handheld, screen and (max-width: 650px), screen and (max-device-width: 480px)" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
	<script src="http://gsgd.co.uk/sandbox/jquery/easing/jquery.easing.1.3.js"></script>
	<script src="/scripts/slides.min.jquery.js"></script>
	<script>
		$(function(){
			$('#slides').slides({
				preload: true,
				preloadImage: '/images/branding/loading.gif',
				play: 5000,
				pause: 2500,
				hoverPause: true
			});
		});
	</script>
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-XXXXXXX-X']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
</head>
<body>
	<div class="site">
		<div class="header-container">
			<div class="header">
				<div class="logo"><img src="/images/branding/logo.png" alt="Infectious Grooves logo"></div>
				<div class="navigation">
					<ul class="nav">
						<li><a href="/">Home</a></li>
						<li><a href="/workshops/">Workshops</a></li>
						<li><a href="/training/">Training</a></li>
						<li><a href="/infectious-drums/">Infectious Drums</a></li>
						<li><a href="/infectious-drums/">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="gallery-container">
			<div class="gallery">
				<div class="frame">
					<img class="photo-frame" src="/images/branding/frame.png" width="739" height="341" alt="photo frame">
					<div id="slides">
						<div class="slides_container">
							{% for slide in page.slides %}
								<img src="{{ slide }}" width="570" height="270" alt="Slide {{ forloop.index }}">
								{% endfor %}
							</div>
							<a href="#" class="prev"><img src="/images/branding/arrow-prev.png" width="24" height="43" alt="arrow prev"></a>
							<a href="#" class="next"><img src="/images/branding/arrow-next.png" width="24" height="43" alt="arrow next"></a>
				</div>
				</div>
			</div>
		</div>
		<div class="main-content">
			<div class="col-left">
			{{ content }}
			</div>
			<div class="col-right">
				{% if page.panel == 'home' %}
				{% include panel_home.html %}
				{% elsif page.panel == 'workshops' %}
				{% include panel_workshops.html %}
				{% endif %}
			</div>
		</div>
		<div class="footer-container">
			<div class="footer">
				&copy; {{ 'now' | date: "%Y" }} Infectious Grooves. All rights reserved.
			</div>
		<div>
	</div>
</body>
</html>